<h3>Availbale Users</h3>
<ul style="list-style-type:none;" *ngFor="let user of users">
    <li>
        <a href="#"><i class="fa fa-user" style='font-size:24px;padding: 5px;' aria-hidden="true"></i><span>{{user.firstName}} {{user.lastName}}</span></a>
    </li>
</ul>
