<div class=""><img src="assets/images/book.jpg" alt="{{ book.title }}" class="rounded" width="80" height="60"><br>
<span><strong>{{ book.title }}</strong></span><br> <span>Rs.{{ book.price }}</span>
 <button (click)="addBookToCart(book)" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i><i class="fa fa-cart-plus"></i></button>
</div>