<div>
  <h3>Available Books</h3>

  <div class="container">
    <div class="row">
      <div class="search-book">

        <!--   <input matInput placeholder="SearchBook" value=""> -->
       
        <input class="form-control" type="text" name="search" [(ngModel)]="searchBook" autocomplete="off"
          placeholder="&#61442;  Start searching for a book by Title">
      </div>
      <div class="col-md-4 active" *ngFor="let book of books | filter:searchBook">
        <app-book-details (addToCart)="addToCart($event)" [bookDetail]="book"></app-book-details>
      </div>
    </div>
  </div>
</div>