#books {
text-align: center;
}
#books tr:nth-child(even){background-color: #f2f2f2;}

#books tr:hover {background-color: #ddd;}

#books th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1976d2;
  color: white;
}

.book {
  padding: 0 1px 0 1px;
}

.box .inner {
  background-color: rgb(255, 255, 255);
}

.search-book {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}