<div class="container">
  <h1>Add Book</h1>
  <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm.form.value)">
    {{diagnostic}}
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="bookForm.name" name="name"
        #name="ngModel">

      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" name="author" required [(ngModel)]="bookForm.author">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="price" required [(ngModel)]="bookForm.price">
    </div>
    <div class="form-group">
      <label for="publishedYear">PublishedYear</label>
      <input type="text" class="form-control" id="publishedYear" name="publishedYear" required
        [(ngModel)]="bookForm.publishedYear">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Submit</button>

  </form>
</div>