<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div class="topnav">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="books" routerLinkActive="active">Books</a>
     <!--  <a routerLink="users" routerLinkActive="active">Users</a> -->
      <a routerLink="admin" routerLinkActive="active">Admin</a>
      <span class="app-name col-md-8"><i class="fa fa-book" aria-hidden="true"></i>My App</span>
     

      <div class="topnav-right d-inline">
        <div class="d-inline p-2 text-white">
        <!--  <app-cart></app-cart>  -->
        <a [state]="{data:cartItems}" routerLink="cartSummary" routerLinkActive="active"><span class="cart">Cart<i class="fa fa-shopping-cart" aria-hidden="true"></i>{{cartSize}}</span></a>
          <!-- <span class="app-name"><i class="fa fa-book" aria-hidden="true"></i>My App</span> -->
        </div>
                
      </div>
  </div>
 
<router-outlet></router-outlet>
