:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.app-name {
  
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

.welcome-note {
  text-align: center;
}

.topnav {
    overflow: hidden;
    background-color:#1976d2;
    position: initial;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.active {
    background-color: #1976d2;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .topnav-right i {
    color: white;
  }