<br>
<div class="admin-menu">
    <ul class="horizontal gray">
        <li><a id="add-book" routerLink="addBook" routerLinkActive="active">AddBook</a></li>
        <li><a id="add-user" routerLink="addUser" routerLinkActive="active">AddUser</a></li>
    </ul>
</div>

<router-outlet></router-outlet>