.admin-menu {
 text-align: center;
}

 
 ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    float: left;
    text-align: center;
    // background-color: grey;
}

ul.horizontal li {
    float: left;
    border-right:3px solid white;
    background-color: #1976d2;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 6px 20px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #1976d2;
}

ul.horizontal li a.active {
    background-color:#1976d2;
}