<div class="container">
    <h1>Add User</h1>
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="firstName">Title</label>
        <input type="text" class="form-control" id="firstName" required
        [(ngModel)]="userForm.name" name="firstName">
        TODO: remove this: {{ userForm.name }} 
      </div>

      <div class="form-group">
        <label for="middleName">MiddleName</label>
        <input type="text" class="form-control" id="middleName">
      </div>
       <div class="form-group">
        <label for="lastName">LastName</label>
        <input type="text" class="form-control" id="lastName">
      </div>
       <div class="form-group">
        <label for="userName">UserName</label>
        <input type="text" class="form-control" id="userName">
      </div> 
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email">
      </div>
       <div class="form-group">
        <label for="contact">Contact.No.</label>
        <input type="text" class="form-control" id="contact">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>