<h3 class="text-center">Cart Summary</h3>

<ng-template #elseBlock ><p class="text-center text-info">Cart is Empty</p></ng-template>
<div *ngIf="books && books.length >0; else elseBlock">    
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; index as i">
        <td scope="row">{{i+1}}</td>
        <td>{{book.title}}</td>
        <td>{{book.quantity}}</td>
        <td>Rs.{{book.price*book.quantity}}</td>
       <!--  <td>X</td> -->
      </tr>
      </tbody>
      </table>
      <div class="row ">
        <p class="text-center"><strong>Total : Rs.{{total}}</strong></p>
    </div>
    </div>
    