<h2 class="text-center">Welcome to My Application</h2>

<div>
    <p class="text-center">Go to Books Section and ADD books to cart and observe that cart items count is updated. You can view Cart Summary</p>
</div>